.form-wrapper {
    background: #0e0e0e;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    max-width: 1000px;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    gap: 2rem;
    color: #ffffff;
    
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }
    .left-wrapper {
        h3 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        .left-wrapper_desc {
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }
    }

    .left {
        margin: 1rem;
        display: flex;
        align-items: center;
        p {
            font-size: 0.9rem;
            // margin-bottom: .6rem;
            font-weight: bold;
        }
        .icon {
            height: 55px;
            width: 55px;
            border-radius: 50%;
            background: #61d133;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.3rem;
        }
    } 
    .connects {
        display: flex;
        margin-top: 1rem;
        padding-left: 1.2rem;

        .key {
            cursor: pointer;
            margin-right: 1.5rem;
            height: 30px;
            width: 30px;

            svg {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
    .right-wrapper {
        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .input-wrapper {
            width: 100%;
            display: grid;
            gap: .5rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            input {
                margin-bottom: .5rem;
                padding: 1.2rem 1.5rem;
                background-color: #201f1f;
                border: none;
                outline: none;
                border-radius: .3rem;
                color: #ffffff;
                font-weight: bold;
                overflow: hidden;
            }

            textarea {
                padding: 1.2rem 1.5rem;
                background: #201f1f;
                outline: none;
                border-radius: .3rem;
                border: none;
                resize: none;
                height: 170px;
            }
            
            
        }
        .btn-wrapper {
            background: #61d133;
            padding: .5rem 1rem;
            margin-top: 1rem;
            width: 6.5rem;
            border-radius: .3rem;
            text-align: center;

            a {
                text-decoration: none;
                color: #ffffff;
                font-weight: bold;
                
            }
        }
        
    }
}